* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    transition: all 0.2s;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    flex: 1 0 auto;
}

.dark-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#dark-mode {
    height: 60px;
    width: 200px;
    font-size: 30px;
    align-self: center;
}

.screen {
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
    word-wrap: break-word;
    word-break: break-all;
    grid-column: 1 / -1;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
}

.screen-dark {
    background-color: white;
    color: black;
}

.body-dark {
    background-color: black;
    color: white;
}


#prev-number {
    font-size: 1rem;
}

#current-number {
    font-size: 2.5rem;
}

.calc-grid-container {
    display: grid;
    gap: 5px;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.span-two {
    grid-column: span 2;
}

.button {
    font-size: 2rem;
    border-radius: 5px;
    border: 3px solid black;
    outline: none;
    background-color: white;
    color: black;
}

.button:hover {
    color: white;
    background-color: black;
}

.button-dark {
    background-color: black;
    color: white;
    border: 3px solid white;
}

.button-dark:hover {
    color: black;
    background-color: white;
}

[data-operator] {
    background-color: #e2e2e2;
    color: black;
}

.operator-dark {
    background-color: #1E1E1E;
    color: white;
}

.sticky-footer {
    text-align: right;
    margin-top: auto;
    padding-right: 20px;
    font-size: 16px;
    padding: 5px;
    transition: all 0.2s;
}

.black-link {
    color: black ;
}


.black-link:visited {
    color: black ;
}

.white-link {
    color: white;
}

.white-link:visited {
    color: white;
}